body {
	background-color: #555;
}

body li {
	-webkit-transition: 2s;
	transition: 2s;
	width: 130px;
	height: 100px;
	border: 1px solid #000;
}

body li:nth-of-type(1) {
	background: #fff url(../images/spriter/spritesheet.png) no-repeat;
	background-position: -0px -120px;
}

body li:nth-of-type(2) {
	background: #fff url(../images/spriter/spritesheet.png) no-repeat;
	background-position: -124px -0px;
}

body li:nth-of-type(3) {
	background: #fff url(../images/spriter/spritesheet.png) no-repeat;
	background-position: -124px -89px;
}

body li:nth-of-type(4) {
	background: #fff url(../images/spriter/spritesheet.png) no-repeat;
	background-position: -0px -0px;
}

body div {
	width: 500px;
	height: 500px;
	background: #fff url(./../images/picture/1.jpg) no-repeat;
}